body {
    font-family: Arial, Helvetica, sans-serif;

    }
    

    /* Add padding to containers */
    .container {
    padding: 16px;
    background-color: white;
    }

    #LoisParent {
    background: rgba(232, 231, 214, 0.95);
    height: 40px;
    }

    #Child {
        line-height: 40px;
    }

    h3 {
    color: #4CAF50;

    }
    
    #personal_data {
    border-color: #bebebe;
    
    }
    
    /* Full-width input fields */
    input[type=text], input[type=password] , input[type=date] , input[type=email] , input[type=tel] , #Toot {
    width: 20%;
    height: 25px;
    padding: 5px;
    display: inline-block;
    border-radius: 7px;
    
    background: #f1f1f1;

    }

    input[type=text]:focus, input[type=password]:focus , input[type=date]:focus , input[type=email]:focus , input[type=tel]:focus {
        background-color: #ddd;
    }
        
    /* Overwrite default styles of hr */
    hr {
    border: 1px solid #fffdfd;
    margin-bottom: 25px;
    }

   #LoisParent1 {
        background: rgba(232, 231, 214, 0.95);
        height: 40px;
        }
    
    #Child1 {
        line-height: 40px;
        }

    #LoisParent2 {
        background: rgba(232, 231, 214, 0.95);
        height: 40px;
        }
        
    #Child2 {
        line-height: 40px;
         }
    
    /* Set a style for the submit button */
    .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    border: none;
    height: 65px;
    opacity: 0.9;
    }
    
    .registerbtn:hover {
    opacity: 1;
    }

    #0 , #1, #2, #3, #4{
        display:block;
        float:left;

    }
    #00 , #01, #02, #03, #04 {
        display:block;
        clear:both;
        padding: 6px 12px;
        font-size: 14px;

    }
    .lain{
        display: inline-block;
        width: 400px;
        margin-right: 30px;
    }
    
    /* Add a blue text color to links */
    a {
    color: dodgerblue;
    }
    
    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
    background-color: #f1f1f1;
    text-align: center;
    }

    input[type=radio] {
        cursor: pointer;
    }    

    #footr {
    background-color: rgba(202, 182, 182, 0.593);
    color: rgb(0, 0, 0);
    height: 300px;
    width: 1509px;;

    }

    #Gof {
        transform: translate(35px, 0);
    }

    .label {
        display: none;
    }

    #r-1:checked~.l-1,
    #r-2:checked~.l-2{
      display: block;
    }